# Django
Django==5.2.8

# Database
psycopg2-binary==2.9.11

# Environment
django-environ==0.12.0

# Tailwind CSS
django-tailwind==4.2.0

# Data Processing
pandas==2.3.3
openpyxl==3.1.5
msoffcrypto-tool  # 비밀번호 걸린 엑셀 업로드 시 필요
pyxlsb  # .xlsb (엑셀 바이너리) 파일 업로드 시 필요

# Image Processing
Pillow==11.0.0

# Utilities
python-dateutil==2.9.0.post0

# WSGI Server (프로덕션)
gunicorn==21.2.0

